[Desktop Entry]
Type=Application
Terminal=true
Name=Ableton Live 11 Lite
Icon=~/wol/Ableton_Live_11_Lite/icon.png
Exec=~/wol/Ableton_Live_11_Lite/startup.sh